/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

@media (max-width: 992px) {
	.email-mobile {
	  overflow: scroll;
	  overflow-y: hidden;
	}
  }


